html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

main {
    display: flex;
    justify-items: center;
    flex-direction: column;
    height: 100%;
}

.editor {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.editor-setting {
    position: fixed;
    right: 0;
}

.editor-button {
    padding: 1rem;
    margin: 1rem;
    background-color: #9099c2;
    border-radius: 1rem;
    width: 2rem;
    height: 2rem;
}
.editor-button-wrapper {
    display: flex;
    position: fixed;
    bottom: 0;
}
.editor-button-wrapper form {
    font-size: 1.3rem;
}

.jsonexport img {
    width: 2rem;
    height: 2rem;
    background-color: #9099c2;
}

.jsonimport {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.jsonimport * {
    display: none;
}
.jsonimport img {
    display: block;
}

.editor-cellbutton-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.editor-cellbutton {
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

.editor-cellbutton[data-active] {
    border: 2px solid white;
}
.editor-cellbutton[data-cell="mouth"] {
    background-color: #DEB14D;
}
.editor-cellbutton[data-cell="producer"] {
    background-color: #15DE59;
}
.editor-cellbutton[data-cell="mover"] {
    background-color: #60D4FF;
}
.editor-cellbutton[data-cell="killer"] {
    background-color: #F82380;
}
.editor-cellbutton[data-cell="armor"] {
    background-color: #7230DB;
}
.editor-cellbutton[data-cell="eye"] {
    background-color: #B7C1EA;
}

.canvas-container {
    width: 100%;
    height: 100%;
    background-color: #416788;
    overflow: hidden;
}

canvas {
    position: relative;
}
